@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="custom-maps" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Custom</FluentNavLink>
            <FluentNavGroup Title="Demos" Icon="@(new Icons.Regular.Size20.Teaching())" ExpandIcon="@(new Icons.Regular.Size20.ChevronRight())">
                <FluentNavLink Href="mc-demo-pizza-delivery" Icon="@(new Icons.Regular.Size20.FoodPizza())" IconColor="Color.Accent">Pizza Delivery</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Title="Events" Icon="@(new Icons.Regular.Size20.ImageMultiple())" ExpandIcon="@(new Icons.Regular.Size20.ChevronRight())">
                <FluentNavLink Href="mc-control-events" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Control Events</FluentNavLink>
                <FluentNavLink Href="mc-layer-events" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Layer Events</FluentNavLink>
                <FluentNavLink Href="mc-marker-events" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Marker Events</FluentNavLink>
                <FluentNavLink Href="mc-map-events" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Map Events</FluentNavLink>
            </FluentNavGroup>
            <FluentNavLink Href="mc-demo-geolocations" Icon="@(new Icons.Regular.Size20.GlobeLocation())" IconColor="Color.Accent">Geolocations</FluentNavLink>
            <FluentNavLink Href="mc-map-layers" Icon="@(new Icons.Regular.Size20.LayerDiagonal())" IconColor="Color.Accent">Map Layers</FluentNavLink>
            <FluentNavLink Href="mc-map-multiple" Icon="@(new Icons.Regular.Size20.Multiplier2x())" IconColor="Color.Accent">Multiple Maps</FluentNavLink>
            <FluentNavLink Href="mc-map-utilities" Icon="@(new Icons.Regular.Size20.LightbulbCircle())" IconColor="Color.Accent">Map Utilities</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
